<ion-header no-shadow>
  <ion-navbar>
    <ion-title>
      <h2 class="slide-title">{{ 'FORM_THERAPIES_ALTERNATIVES' | translate }}</h2>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <p *ngIf="!therapiesAlterForm.valid && submitAttempt" class="FormAlerte">{{ 'FORM_ALERTE' | translate }}</p>
  <form [formGroup]="therapiesAlterForm" novalidate>

    <ion-list radio-group formControlName="therapiesForm">
      <p>{{ 'FORM_THERAPIES_CHECK' | translate }}</p>
      <ion-item no-lines>
        <ion-label [class.invalid-bis]="!therapiesAlterForm.controls.therapiesForm.valid && (therapiesAlterForm.controls.therapiesForm.dirty || submitAttempt)">{{ 'FORM_THERAPIE_OUI' | translate }}</ion-label>
        <ion-radio (click)="therapieOui()" value="{{ 'FORM_THERAPIE_OUI' | translate }}" [class.invalid-bis]="!therapiesAlterForm.controls.therapiesForm.valid && (therapiesAlterForm.controls.therapiesForm.dirty || submitAttempt)"></ion-radio>
      </ion-item>
      <ion-item no-lines>
        <ion-label [class.invalid-bis]="!therapiesAlterForm.controls.therapiesForm.valid && (therapiesAlterForm.controls.therapiesForm.dirty || submitAttempt)">{{ 'FORM_THERAPIE_NON' | translate }}</ion-label>
        <ion-radio (click)="therapieNon()" value="{{ 'FORM_THERAPIE_NON' | translate }}" [class.invalid-bis]="!therapiesAlterForm.controls.therapiesForm.valid && (therapiesAlterForm.controls.therapiesForm.dirty || submitAttempt)"></ion-radio>
      </ion-item>
    </ion-list>
    <p *ngIf="!therapiesAlterForm.controls.therapiesForm.valid  && (therapiesAlterForm.controls.therapiesForm.dirty || submitAttempt)">{{ 'FORM_OPTION_ALERTE' | translate }}</p>

    <ion-list *ngIf="questionsTherapie">
      <p>{{ 'FORM_THERAPIES_TYPES' | translate }}</p>
      <ion-item no-lines>
        <ion-label>{{ 'FORM_THERAPIES_OPTION_1' | translate }}</ion-label>
        <ion-checkbox formControlName="phytoForm"></ion-checkbox>
      </ion-item>
      <ion-item no-lines>
        <ion-label>{{ 'FORM_THERAPIES_OPTION_2' | translate }}</ion-label>
        <ion-checkbox formControlName="homeoForm"></ion-checkbox>
      </ion-item>
      <ion-item no-lines>
        <ion-label>{{ 'FORM_THERAPIES_OPTION_3' | translate }}</ion-label>
        <ion-checkbox formControlName="aromaForm"></ion-checkbox>
      </ion-item>
      <ion-item no-lines>
        <ion-label >{{ 'FORM_THERAPIES_OPTION_4' | translate }}</ion-label>
        <ion-checkbox formControlName="autres" (click)="autres()"></ion-checkbox>
      </ion-item>
      <ion-item no-lines *ngIf="checkAutres">
        <ion-input [class.invalid]="!therapiesAlterForm.controls.autresForm.valid && (therapiesAlterForm.controls.autresForm.dirty || submitAttempt)" formControlName="autresForm" type="text"></ion-input>
      </ion-item>
    </ion-list>
    <p *ngIf="questionsTherapie && (!therapiesAlterForm.valid && submitAttempt)">{{ 'FORM_CHECK_THERAPIE_ALERTE' | translate }}</p>
  
  </form>
  
  <button class="ButtonValide" ion-button icon-end large clear (click)="nextPage()">
    {{ 'CONTINUE_BOUTON' | translate }}
    <ion-icon name="arrow-forward"></ion-icon>
  </button>
</ion-content>
