.ios, .md{
  therapies-alter {
    ion-header{
      h2{
        text-align: center;
        padding-right: 100px;
      }
    }
    ion-content{
      .FormAlerte{
        padding-left: 10px;
        margin-bottom: 50px;
        font-size: 1.2em;
        color: #ea6153;
      }
      .ButtonValide{
        margin: auto;
        margin-top: 50px;
        display: block;
        border: 3px #488aff solid;
      }
      
      form{
        padding: 0px;
        p {
          font-size: 1em;
          color: #ea6153;
          margin-left: 10px;
        }

        ion-list{ 
          p{
            font-size: 0.9em;
            color: #999999;
            margin: 15px 0px 4px 25px;
          }
          ion-item{
            background-color: #f2f2f2;
            margin-left: 16px;
            width: auto;
            margin-right: 10px;
            margin-bottom: 0px;
            padding-left: 10px;
          }
          ion-label{
            margin: 0px;
            padding: 0px 20px 0px 0px;
            color: #999999;
          }
          ion-input{
            background-color: #ffffff;
            padding: 0px 0px 0px 10px;
            margin: 0px 50% 20px 50px;
            width: 60%;
          }
        }

        .invalid {
          border: 2px solid #ea6153;
        }
      }
    } 
  }
}