.ios, .md{
  formulaire-un {
    ion-header{
      h2{
        text-align: center;
        padding-right: 100px;
      }
    }
    ion-content{
      .FormAlerte{
        padding-left: 10px;
        font-size: 1.2em;
        color: #ea6153;
      }
      .ButtonValide{
        margin: auto;
        margin-top: 50px;
        display: block;
        border: 3px #488aff solid;
      }
      
      form{
        padding: 0px;
        p {
          font-size: 1em;
          color: #ea6153;
          margin-left: 10px;
        }
        ion-label {
          padding-left: 10px;
        }
        ion-input, ion-datetime {
          background-color: #f2f2f2;
        }
        ion-datetime {
          padding: 10px;
        }
        ion-input{
          padding-left: 10px;
        }
        .invalid {
          border: 2px solid #ea6153;
        }
      }
    } 
  }
}