<ion-header no-shadow>
  <ion-navbar>
    <ion-title>
      <h2 class="slide-title">{{ 'FORM_DONNEES_PERSONNELLES' | translate }}</h2>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <p><strong>{{inactif.idleState}}</strong></p>
  <p *ngIf="!slideUnForm.valid && submitAttempt" class="FormAlerte">{{ 'FORM_ALERTE' | translate }}</p>
  <form [formGroup]="slideUnForm" novalidate>
    
    <ion-item no-lines>
      <ion-label floating>{{ 'FORM_PRENOM' | translate }}</ion-label>
      <ion-input [class.invalid]="!slideUnForm.controls.prenom.valid && (slideUnForm.controls.prenom.dirty || submitAttempt)" formControlName="prenom" type="text"></ion-input>
    </ion-item>
    <p *ngIf="!slideUnForm.controls.prenom.valid  && (slideUnForm.controls.prenom.dirty || submitAttempt)">{{ 'FORM_PRENOM_ALERTE' | translate }}</p>
    
    <ion-item no-lines>
      <ion-label floating>{{ 'FORM_NOM' | translate }}</ion-label>
      <ion-input [class.invalid]="!slideUnForm.controls.nom.valid && (slideUnForm.controls.nom.dirty || submitAttempt)" formControlName="nom" type="text"></ion-input>
    </ion-item>
    <p *ngIf="!slideUnForm.controls.nom.valid  && (slideUnForm.controls.nom.dirty || submitAttempt)">{{ 'FORM_NOM_ALERTE' | translate }}</p>

    <ion-item no-lines>
      <ion-label floating>{{ 'FORM_DATE_NAISSANCE' | translate }}</ion-label>
      <ion-datetime cancelText="annuler" doneText="valider" [class.invalid]="!slideUnForm.controls.date_naissance.valid && (slideUnForm.controls.date_naissance.dirty || submitAttempt)" formControlName="date_naissance" displayFormat="DD MMM YYYY" 
        monthShortNames="jan, f\u00e9v, mars, avr, mai, juin, juil, ao\u00fbt, sept, oct, nov, d\u00e9c">
      </ion-datetime>
    </ion-item>
    <p *ngIf="!slideUnForm.controls.date_naissance.valid  && (slideUnForm.controls.date_naissance.dirty || submitAttempt)">{{ 'FORM_DATE_NAISSANCE_ALERTE' | translate }}</p>

    <ion-item no-lines>
      <ion-label floating>{{ 'FORM_ONCO_REF' | translate }}</ion-label>
      <ion-input [class.invalid]="!slideUnForm.controls.onco_ref.valid && (slideUnForm.controls.onco_ref.dirty || submitAttempt)" formControlName="onco_ref" type="text"></ion-input>
    </ion-item>
    <p *ngIf="!slideUnForm.controls.onco_ref.valid  && (slideUnForm.controls.onco_ref.dirty || submitAttempt)">{{ 'FORM_ONCO_REF_ALERTE' | translate }}</p>

  </form>
  <button class="ButtonValide" ion-button icon-end large clear (click)="nextPage()">
    {{ 'TUTORIAL_CONTINUE_BUTTON' | translate }}
    <ion-icon name="arrow-forward"></ion-icon>
  </button>
</ion-content>
