<ion-header no-shadow>
  <ion-navbar>
    <ion-title>
      <h2 class="slide-title">{{ 'FORM_DONNEES_PERSONNELLES' | translate }}</h2>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <p *ngIf="!donneesPersoForm.valid && submitAttempt" class="FormAlerte">{{ 'FORM_ALERTE' | translate }}</p>
  <form [formGroup]="donneesPersoForm" novalidate>
    
    <ion-item no-lines>
      <ion-label floating>{{ 'FORM_PRENOM' | translate }}</ion-label>
      <ion-input [class.invalid]="!donneesPersoForm.controls.prenomForm.valid && (donneesPersoForm.controls.prenomForm.dirty || submitAttempt)" formControlName="prenomForm" type="text"></ion-input>
    </ion-item>
    <p *ngIf="!donneesPersoForm.controls.prenomForm.valid  && (donneesPersoForm.controls.prenomForm.dirty || submitAttempt)">{{ 'FORM_PRENOM_ALERTE' | translate }}</p>
    
    <ion-item no-lines>
      <ion-label floating>{{ 'FORM_NOM' | translate }}</ion-label>
      <ion-input [class.invalid]="!donneesPersoForm.controls.nomForm.valid && (donneesPersoForm.controls.nomForm.dirty || submitAttempt)" formControlName="nomForm" type="text"></ion-input>
    </ion-item>
    <p *ngIf="!donneesPersoForm.controls.nomForm.valid  && (donneesPersoForm.controls.nomForm.dirty || submitAttempt)">{{ 'FORM_NOM_ALERTE' | translate }}</p>

    <ion-item no-lines>
      <ion-label floating>{{ 'FORM_DATE_NAISSANCE' | translate }}</ion-label>
      <ion-datetime cancelText="annuler" doneText="valider" [class.invalid]="!donneesPersoForm.controls.date_naissanceForm.valid && (donneesPersoForm.controls.date_naissanceForm.dirty || submitAttempt)" formControlName="date_naissanceForm" displayFormat="DD MMM YYYY" 
        monthShortNames="jan, f\u00e9v, mars, avr, mai, juin, juil, ao\u00fbt, sept, oct, nov, d\u00e9c">
      </ion-datetime>
    </ion-item>
    <p *ngIf="!donneesPersoForm.controls.date_naissanceForm.valid  && (donneesPersoForm.controls.date_naissanceForm.dirty || submitAttempt)">{{ 'FORM_DATE_NAISSANCE_ALERTE' | translate }}</p>

  </form>
  <button class="ButtonValide" ion-button icon-end large clear (click)="nextPage()">
    {{ 'CONTINUE_BOUTON' | translate }}
    <ion-icon name="arrow-forward"></ion-icon>
  </button>
</ion-content>
